#form-inscricao {
    margin-top: 30px;
}

#form-inscricao .botoes {
    margin: 15px 0 0 260px;
}

#form-inscricao .obrigatorio label {
    font-weight: bold;
}

#form-inscricao button {
    margin-right: 5px;
}

#form-inscricao label {
    clear: left;
    margin-right: 10px;
    width: 250px;
}

#form-inscricao p {
    margin-bottom: 10px;
}
