{% extends "base.html" %}

{% load markup %}

{% block title %}{{ palestra.titulo }} | {{ block.super }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/palestrantes.css" type="text/css" media="screen" charset="utf-8"/>
{% endblock %}

{% block og %}
    <meta property="og:title" content="{{ palestra.titulo }}" />
    <meta property="og:type" content="activity" />
    <meta property="og:url" content="{{ BASE_URL }}{{ palestra.get_absolute_url }}" />
    <meta property="og:image" content="{{ MEDIA_URL }}{{ palestra.palestrantes.all.0.foto }}" />
    <meta property="og:description" content="{{ palestra.descricao }}" />
{% endblock %}

{% block coluna_central %}
    <h1>{{ palestra.titulo }}</h1>
    <div class="horario"><strong>Horário:</strong> {{ palestra.inicio|time:"H:i" }} - {{ palestra.termino|time:"H:i" }}</div>
    <div id="gplus" class="social"><div class="g-plusone" data-size="medium"></div></div>
    <div id="fb" class="social"><div class="fb-like" data-send="false" data-layout="button_count" data-width="45" data-show-faces="false"></div></div>
    <div id="twitter" class="social"><a href="https://twitter.com/share" class="twitter-share-button" data-via="devincachu" data-hashtags="devincachu">Tweet</a></div>

    <div class="descricao">
        {{ palestra.descricao|markdown }}
    </div>

    {% with palestra.palestrantes.all as palestrantes %}
        <h2>Palestrante{{ palestrantes.length|pluralize}}</h2>

        <ul class="palestrantes">
            {% for palestrante in palestrantes %}
                <li>
                    <h3>{{ palestrante.nome }}</h3>
                    {{ palestrante.minicurriculo|markdown }}
                    <img src="{{ MEDIA_URL }}{{ palestrante.foto }}" alt="{{ palestrante.nome }}" width="100" height="100" />

                    <div class="links-palestrante">
                        {% if palestrante.blog %}
                            <a href="{{ palestrante.blog }}" rel="nofollow" target="_blank" title="Blog de {{ palestrante.nome }}">Blog</a>
                        {% endif %}
                        {% if palestrante.twitter %}
                            <a href="http://twitter.com/{{ palestrante.twitter|cut:"@" }}" rel="nofollow" target="_blank" title="{{ palestrante.nome }} no Twitter">Twitter</a>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endwith %}
{% endblock %}
