{% extends "base.html" %}

{% load markup %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/palestrantes.css" type="text/css" media="screen" charset="utf-8"/>
{% endblock %}

{% block coluna_central %}
    <h1>Palestrantes</h1>

    <ul class="palestrantes">
        {% for palestrante in palestrantes %}
        <li{% if forloop.counter|divisibleby:2 %} class="impar"{% endif %}>
            <h2>{{ palestrante.nome }}</h2>
            {{ palestrante.minicurriculo|markdown }}
            <img src="{{ palestrante.foto }}" alt="{{ palestrante.nome }}" width="100" height="100" />
            {% if palestrante.blog %}
                <a href="{{ palestrante.blog }}" rel="nofollow" target="_blank" title="Blog de {{ palestrante.nome }}">Blog</a>
            {% endif %}
            {% if palestrante.twitter %}
                <a href="http://twitter.com/{{ palestrante.twitter|cut:"@" }}" rel="nofollow" target="_blank" title="{{ palestrante.nome }} no Twitter">Twitter</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
