{% extends "base.html" %}

{% load markup %}

{% block title %}Palestrantes | {{ block.super }}{% endblock %}

{% block og %}
    <meta property="og:title" content="Palestrantes do Dev in Cachu 2012" />
    <meta property="og:type" content="public_figure" />
    <meta property="og:url" content="{{ BASE_URL }}/palestrantes/" />
    <meta property="og:image" content="{{ STATIC_URL }}img/logo-devincachu-facebook.png" />
    <meta property="og:description" content="Veja mais informações dos palestrantes do Dev in Cachu 2012. Conheça quem são e de onde vêm os palestrantes dessa edição" />
{% endblock %}

{% block coluna_central %}
    <h1>Palestrantes</h1>

    <div id="twitter" class="home-social"><a href="https://twitter.com/share" class="twitter-share-button" data-via="devincachu" data-hashtags="devincachu">Tweet</a></div>
    <div id="fb" class="home-social"><div class="fb-like" data-send="false" data-layout="button_count" data-width="45" data-show-faces="false"></div></div>
    <div id="gplus" class="home-social"><div class="g-plusone" data-size="medium"></div></div>

    {% if palestrantes %}
        <ul class="palestrantes">
            {% for palestrante in palestrantes %}
            <li>
                <h2>{{ palestrante.nome }}</h2>
                <img src="{{ MEDIA_URL }}{{ palestrante.foto }}" alt="{{ palestrante.nome }}" width="100" height="100" alig="right" />
                {{ palestrante.minicurriculo|markdown }}

                {% if palestrante.palestras.all %}
                    <div>
                        <strong>Palestra{{ palestrante.palestras.all|length|pluralize }}: </strong>
                        {% for palestra in palestrante.palestras.all %}<a href="{{ palestra.get_absolute_url }}" title="{{ palestra.titulo }}">{{ palestra.titulo }}</a>{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}
                    </div>
                {% endif %}
                <div class="links-palestrante">
                    {% if palestrante.blog %}
                        <a href="{{ palestrante.blog }}" rel="nofollow" title="Blog de {{ palestrante.nome }}">Blog</a>
                    {% endif %}
                    {% if palestrante.twitter %}
                        <a href="http://twitter.com/{{ palestrante.twitter|cut:"@" }}" rel="nofollow" title="{{ palestrante.nome }} no Twitter">Twitter</a>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Não há palestrantes ainda :( Envie sua ideia para contato@devincachu.com.br!</p>
    {% endif %}
{% endblock %}
