{% extends "base.html" %}

{% block title %}Grade de programação | {{ block.super }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/programacao.css" type="text/css" media="screen" charset="utf-8" />
{% endblock %}

{% block coluna_central %}
    <h1>Programação</h1>

    <p>
        Confira abaixo a programação do Dev in Cachu 2012. Para ver mais informações de uma palestra,
        basta clicar na linha correspondente à palestra. Você terá acesso a uma descrição melhor detalhada
        da palestra o currículo do(s) palestrante(s).
    </p>
    {% if palestras %}
        <table id="grade-de-programacao">
            <tr>
                <th>Horário</th>
                <th>Programação</th>
            </tr>
            {% for palestra in palestras %}
                {% with url=palestra.get_absolute_url descricao=palestra.descricao|truncatewords:21 %}
                    <tr>
                        <td class="horario">
                            <a href="{{ url }}" title="{{ descricao }}">
                                {{ palestra.inicio|time:"H:i" }} - {{ palestra.termino|time:"H:i" }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ url }}" title="{{ descricao }}">
                                <strong>{{ palestra.titulo }}</strong><span>{{ palestra.nomes_palestrantes }}</span>
                            </a>
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
