{% extends "flatpages/default.html" %}

{% block meta %}
    <link rel="canonical" href="{{ BASE_URL }}/patrocinio/" />
    <meta name="description" content="Saiba como patrocinar o Dev in Cachu 2012, conheça nosso documento de captação de recursos" />
    <meta name="keywords" content="devincachu, dev in cachu 2012, plano de captação de recursos, patrocínio" />
{% endblock %}

{% block og %}
    {{ block.super }}
    <meta property="og:description" content="Seja um patrocinador do maior evento de desenvolvimento de software do sul do Espírito Santo!" />
{% endblock %}
