{% extends "flatpages/default.html" %}

{% block meta %}
    <link rel="canonical" href="{{ BASE_URL }}/quando-e-onde/" />
    <meta name="description" content="O Dev in Cachu 2012 acontecerá num lugar bacana em uma data bem legal!" />
    <meta name="keywords" content="devincachu, dev in cachu 2012, local, data" />
{% endblock %}

{% block og %}
    {{ block.super }}
    <meta property="og:description" content="O Dev in Cachu 2012 acontecerá num lugar bacan em uma data bem legal!" />
{% endblock %}
