{% extends "flatpages/default.html" %}

{% block meta %}
    <link rel="canonical" href="{{ BASE_URL }}/quando-e-onde/" />
    <meta name="description" content="O Dev in Cachu 2012 acontecerá no dia 5 de maio de 2012, no Centro Universitário São Camilo Espírito Santo, na cidade de Cachoeiro de Itapemirim" />
    <meta name="keywords" content="devincachu, dev in cachu 2012, local, data" />
{% endblock %}

{% block og %}
    {{ block.super }}
    <meta property="og:description" content="O Dev in Cachu 2012 acontecerá no dia 5 de maio de 2012, no Centro Universitário São Camilo Espírito Santo, na cidade de Cachoeiro de Itapemirim" />
{% endblock %}
