{% load compress %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Dev in Cachu 2012{% endblock %}</title>

        {% block meta %}
            <meta name="description" content="{{ description }}" />
            <meta name="keywords" content="{{ keywords }}"/>
            <link rel="canonical" href="{{ canonical_url }}" />
        {% endblock %}

        {% block og %}{% endblock %}
        <meta property="og:site_name" content="Dev in Cachu 2012" />
        <meta property="og:locale" content="pt_BR" />
        <meta property="fb:app_id" content="220413784720358" />


        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% compress css %}
            <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen" charset="utf-8" />
            <link href="{{ STATIC_URL }}css/devincachu.css" rel="stylesheet" media="screen" charset="utf-8" />
            <link href="{{ STATIC_URL }}css/index.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
            <link href="{{ STATIC_URL }}css/palestrantes.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8"/>
            <link href="{{ STATIC_URL }}css/programacao.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
        {% endcompress %}

        <script src="{{ STATIC_URL }}js/head.load.min.js" type="text/javascript" charset="utf-8"></script>

        <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
    </head>

    <body>

        {% block menu %}
            <div class="topbar">
                <div class="fill">
                    <div class="container">
                        <a class="brand" href="/" title="Dev in Cachu 2012 - 5 de maio"><img src="{{ STATIC_URL }}img/logo-site.png" alt="Logomarca Dev in Cachu 2012" /></a>
                        <ul class="nav">
                            <li><a href="/quando-e-onde/" title="Veja quando e onde acontecerá o Dev in Cachu 2012">Quando e onde?</a></li>
                            <li><a href="{% url programacao %}" title="Veja a programação do Dev in Cachu 2012">Programação</a></li>
                            <li><a href="/inscricao/" title="Inscreva-se no Dev in Cachu 2012!">Inscrição</a></li>
                            <li><a href="/patrocinio/" title="Patrocine o Dev in Cachu 2012!">Patrocínio</a></li>
                            <li><a href="/caravanas/" title="Conheça quais são as caravanas para o Dev in Cachu 2012">Caravanas</a></li>
                            <li><a href="/contato/" title="Entre em contato com a organização do Dev in Cachu 2012">Contato</a></li>
                            <li><a href="/2011" title="Veja o site da edição passada do Dev in Cachu">/2011</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endblock %}

        <div class="container">

            {% block chamada %}{% endblock %}

            <div class="row">
                {% block conteudo %}
                    <div class="span11">
                        {% block coluna_central %}
                            <h2>Vem aí: Dev in Cachu 2012!</h2>
                            <p>Já começaram os preparativos para o principal evento de desenvolvimento de software do sul do Espírito Santo, o Dev in Cachu! Em <a href="/2011" title="Dev in Cachu 2011">2011</a>, o evento foi um tremendo sucesso, e estamos trabalhando para que em 2012 não seja diferente!</p>
                            <p>Em breve teremos mais informações no site :)</p>
                        {% endblock %}
                    </div>

                    <div class="span5">
                        <h2 id="data-evento">5 de maio de 2012</h2>
                        <p>O Dev in Cachu 2012 acontecerá no dia 5 de maio de 2012, no <strong>Centro Universitário São Camilo</strong>. <a href="/quando-e-onde/" title="Quando e onde será o Dev in Cachu 2012?">Quer saber como chegar?</a>
                        </p>
                        {% block coluna_lateral %}
                            <h2>Patrocinadores</h2>
                            <h3>Diamante</h3>
                            <p>Seja o primeiro!</p>
                            <h3>Ouro</h3>
                            <p>Seja o primeiro!</p>
                            <h3>Prata</h3>
                            <p>Seja o primeiro!</p>
                            <h3>Bronze</h3>
                            <p>Seja o primeiro!</p>
                            <h2>Idealizadores</h2>
                            <ul class="idealizadores">
                                <li><a href="http://twitter.com/agnhesi" title="Andressa Agnhesi" rel="nofollow" target="_blank">@agnhesi</a></li>
                                <li><a href="http://twitter.com/franciscosouza" title="Francisco Souza" rel="nofollow" target="_blank">@franciscosouza</a></li>
                                <li><a href="http://twitter.com/isaurarangel" title="Isaura Rangel" rel="nofollow" target="_blank">@isaurarangel</a></li>
                                <li><a href="http://twitter.com/magnomp" title="Magno Machado" rel="nofollow" target="_blank">@magnomp</a></li>
                                <li><a href="http://twitter.com/martinusso" title="Breno Martinusso" rel="nofollow" target="_blank">@martinusso</a></li>
                            </ul>
                            <h2>Apoio</h2>
                            <ul class="logotipos">
                                <li><a href="http://saocamilo-es.br" title="Centro Universitário São Camilo" target="_blank"><img src="{{ STATIC_URL }}img/support/sao-camilo.png" alt="Centro Universitário São Camilo" width="115" height="36" /></a></li>
                                <li><a href="http://www.ci.ifes.edu.br" title="IFES - Instituto Federal de Educação, Ciência e Tecnologia do Espírito Santo, Campus Cachoeiro de Itapemirim" target="_blank"><img src="{{ STATIC_URL }}img/support/ifes.jpg" alt="IFES - Instituto Federal de Educação, Ciência e Tecnologia do Espírito Santo, Campus Cachoeiro de Itapemirim" width="115" height="63" /></a></li>
                                <li><a href="http://sneer.me" title="sneer - Sovereign peer-to-peer" target="_blank"><img src="{{ STATIC_URL }}img/support/sneer.jpg" alt="sneer" width="115" height="115" /></a></li>
                            </ul>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>

            <footer>
            {% block rodape %}
                <p>
                    &copy; {% now "Y" %} - Organização do Dev in Cachu<br />
                    <em>Praticamente nenhum direito reservado :)</em>
                </p>
            {% endblock %}
            </footer>

        </div>

        <a href="http://github.com/devincachu/devincachu" id="github-ribbon" title="Fork o site do Dev in Cachu no Github!" rel="nofollow" target="_blank">
            <img src="{{ STATIC_URL }}img/fork-me.png" alt="Fork me on Github" width="149" height="149" />
        </a>

        <div id="fb-root"></div>
        {% compress js %}
            {% block js %}
                <script src="{{ STATIC_URL }}js/init.menu.js" type="text/javascript" charset="utf-8"></script>
            {% endblock %}
            <script>
                var _ = _ || {};
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-8088829-10']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

                (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=220413784720358";
                  js.async = true;
                  fjs.parentNode.insertBefore(js, fjs);
                })(document, 'script', 'facebook-jssdk');

                  window.___gcfg = {lang: 'pt-BR'};

                  (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                  })();
            </script>
        {% endcompress %}
    </body>
</html>
