{% extends "base.html" %}
{% load markup %}

{% block og %}
    <meta property="og:title" content="Dev in Cachu 2012" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ BASE_URL }}/" />
    <meta property="og:image" content="{{ STATIC_URL }}img/logo-devincachu-facebook.png" />
    <meta property="og:description" content="Maior evento de desenvolvimento de software do sul do Espírito Santo. Organizado com o objetivo de difundir técnicas e práticas de desenvolvimento de software, trazendo diversos temas" />
{% endblock %}

{% block chamada %}
    {% if chamada %}
        <div class="hero-unit">
            <h1>{{ chamada.titulo }}</h1>
            <p>{{ chamada.conteudo }}</p>
            <p><a class="btn primary large" href="{{ chamada.url_link }}" title="{{ chamada.titulo_veja_mais }}">{{ chamada.titulo_veja_mais }} &raquo;</a></p>
        </div>
    {% endif %}
{% endblock %}

{% block coluna_central %}
    <div id="twitter" class="home-social"><a href="https://twitter.com/share" class="twitter-share-button" data-via="devincachu" data-hashtags="devincachu">Tweet</a></div>
    <div id="fb" class="home-social"><div class="fb-like" data-send="false" data-layout="button_count" data-width="45" data-show-faces="false"></div></div>
    <div id="gplus" class="home-social"><div class="g-plusone" data-size="medium"></div>
    {% for destaque in destaques %}
        <div class="destaque">
            <h2>{{ destaque.titulo }}</h2>
            <div class="metadados">Postado por {{ destaque.autor.first_name }} em {{ destaque.data|date:"d/m/Y à\s H:i:s" }}</div>
            {{ destaque.conteudo|markdown }}
        </div>
    {% endfor %}
{% endblock %}
