ul.palestrantes {
    list-style: none;
    margin-left: 5px;
}

ul.palestrantes li {
    clear: left;
    display: block;
    margin-bottom: 50px;
}

ul.palestrantes li h2 {
    text-shadow: #666 1px 1px 1px;
}

ul.palestrantes li p {
    float: left;
    width: 530px;
}

ul.palestrantes li img {
    border-radius: 6px;
    float: right;
}

ul.palestrantes li .links-palestrante {
    clear: left;
}

ul.palestrantes li .links-palestrante a {
    float: left;
    margin: 5px 10px 0 0;
}

div.horario {
    color: #333;
    float: left;
    font-size: 12px;
    margin-bottom: 15px;
}

div.social {
    float: right;
    margin-bottom: 15px;
}

div#gplus {
    width: 50px;
}

div#fb {
    width: 80px;
}

div#twitter {
    width: 100px;
}

div.descricao {
    clear: both;
}
