#grade-de-programacao {
    border-bottom: 1px #DDD solid;
    margin-top: 10px;
}

#grade-de-programacao tr:hover {
    background-color: #EEE;
}

#grade-de-programacao th:first-child {
    width: 15%;
}

#grade-de-programacao th:last-child {
    width: 85%;
}

#grade-de-programacao th {
    background-color: #222;
    background-image: -ms-linear-gradient(center top, #333, #222);
    background-image: -moz-linear-gradient(center top, #333, #222);
    background-image: -o-linear-gradient(center top, #333, #222);
    background-image: -webkit-linear-gradient(center top, #333, #222);
    background-image: linear-gradient(center top, #333, #222);
    border: none;
    color: #FFF;
    text-align: center;
}

#grade-de-programacao td {
    padding: 0;
}

#grade-de-programacao td.horario {
    text-align: center;
    vertical-align: middle;
}

#grade-de-programacao a {
    color: #000;
    display: block;
    padding: 10px;
}

#grade-de-programacao a:hover {
    text-decoration: none;
}

#grade-de-programacao a:hover strong {
    text-decoration: underline;
}

#grade-de-programacao span {
    display: block;
}
