{% extends "base.html" %}

{% block title %}Certificado válido | {{ block.super }}{% endblock %}

{% block meta %}
    <link rel="canonical" href="{{ BASE_URL }}/certificado/validar/" />
    <meta name="description" content="Validação de certificado do Dev in Cachu 2012" />
    <meta name="keywords" content="devincachu, dev in cachu 2012, certificado" />
{% endblock %}

{% block og %}
    <meta property="og:title" content="Validação de certificado" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ BASE_URL }}/certificado/validar/" />
    <meta property="og:image" content="{{ STATIC_URL }}img/logo-devincachu-facebook.png" />
    <meta property="og:description" content="Página para confirmar a validade de um certificado do Dev in Cachu 2012" />
{% endblock %}

{% block coluna_central %}
    <h1>Certificado válido</h1>

    <p>Este certificado é válido! <strong>{{ certificado.participante.nome }}</strong> participou do Dev in Cachu 2012, com uma carga horária total de <strong>{{ certificado.horas }} horas</strong>.</p>

    <p>Em caso de qualquer dúvida, por favor entre em contato com a organização do Dev in Cachu 2012 através do e-mail contato@devincachu.com.br.</p>
{% endblock %}
