Dev in Cachu 2012 - Inscrição recebida, falha na comunicação com o PagSeguro

Olá {{ participante.nome }}!

O objetivo deste e-mail é confirmar o recebimento de sua inscrição, você está bem perto de participar do Dev in Cachu 2012.

Infelizmente houve um erro na geração automática de sua cobrança no PagSeguro. Note que este e-mail é automático, mas também está sendo enviado para os organizadores, para que possamos tratar o seu caso o mais rápido possível, gerando uma cobrança manual.

Pedimos desculpas pelo transtorno.

Atenciosamente,
Organização do Dev in Cachu 2012
