Dev in Cachu 2012 - Inscrição recebida

Olá {{ checkout.participante.nome }}!
O objetivo deste e-mail é confirmar o recebimento de sua inscrição, você está bem perto de participar do Dev in Cachu 2012.

Para confirmar sua inscrição e garantir sua vaga, basta pagar a taxa de inscrição através do PagSeguro. Com o PagSeguro, você poderá usar boleto bancário ou cartão de crédito. Para pagar, basta abrir a URL abaixo em seu navegador:

    https://pagseguro.uol.com.br/v2/checkout/payment.html?code={{ checkout.codigo }}

Atenciosamente,
Organização do Dev in Cachu 2012
