{% extends "inscricao_base.html" %}

{% block coluna_central %}
    <h1>Em breve...</h1>

    <div id="twitter" class="home-social"><a href="https://twitter.com/share" class="twitter-share-button" data-via="devincachu" data-hashtags="devincachu">Tweet</a></div>
    <div id="fb" class="home-social"><div class="fb-like" data-send="false" data-layout="button_count" data-width="45" data-show-faces="false"></div></div>
    <div id="gplus" class="home-social"><div class="g-plusone" data-size="medium"></div></div>

    <p class="descricao">No momento, as inscrições ainda não estão abertas. Volte em breve para conferir, ou fique ligado nas novidades do Dev in Cachu através do <a href="http://twitter.com/devincachu" target="_blank" title="Dev in Cachu no Twitter" rel="nofollow">nosso perfil no Twitter</a>.</p>
{% endblock %}
