body {
    padding-top: 60px;
}

.idealizadores {
    list-style-position: inside;
    margin-left: 5px;
}

.logotipos, .logotipos li {
    list-style: none;
    margin: 0;
}

.logotipos li:first-child {
    margin-top: 15px;
}

.logotipos li:not(:last-child) {
    margin-bottom: 15px;
}

.logotipos li:last-child {
    margin-bottom: 5px;
}


#github-ribbon img {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

#data-evento {
    font-size: 30px;
}

#mapa-evento {
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    float: right;
    margin-left: 5px;
}

h1:not(:first-child) {
    margin-top: 20px;
}

#img-captacao {
    float: right;
    margin-right: 10px;
    text-align: center;
    width: 90px;
}

#img-captacao span {
    display: block;
    font-size: 10px;
}
