body {
    padding-top: 60px;
}

.idealizadores {
    list-style-position: inside;
    margin-left: 5px;
}

#github-ribbon img {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

#data-evento {
    font-size: 30px;
}
